.login-template {
  width: 40%;
  max-height: fit-content;
  margin: auto;
  padding: 30px;

  .login-box {
    .login-box-header {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      padding: 20px;
      border-bottom: 1px #cecece solid;
    }

    .login-box-content {
      padding: 20px;
    }
    
    .mr-2 {
      width: 30px;
      height: auto;
    }

    .login-social {
      margin-bottom: 10px;

      span {
        font-weight: 700;
      }

      .mid-social {
        margin-right: 10px;
      }

      .v-btn {
        justify-content: start;
        text-transform: none;
        background-color: #ffffff;
      }
    }

    .login-with-account {
      .email-block {
        margin-bottom: 10px;
      }

      .password-block {
        margin-bottom: 10px;
      }

      .secondary-button {
        background-color: #2196f3;
        border-color: #2196f3;
        text-transform: none;
        color: #ffffff;
        font-weight: 700;
      }
    }
  }
}
